/*
.home-card {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}


body {
  margin: 0;
  padding: 0;
  height: 100vh;  // Full height of viewport 
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #4b0082, #007bff); // Purple to Blue gradient 
}*/

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

.welcome-message {
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
